/* add customizations here */
.about, [role=main], [role=complementary]
{
    margin-top: 60px;
}

footer
{
    margin-top: 10px;
}

@media (min-width: 900px) {
    .container {
        width: 800px;
    }
    img {
        max-width: 640px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
    img {
        max-width: 750px;
    }
}

@media (min-width: 1600px) {
    .container {
        width: 1500px;
    }
    img {
        max-width: 950px;
    }
}

@media (min-width: 1900px) {
    .container {
        width: 1900px;
    }
    img {
        max-width: 1220px;
    }
}

.list-group-item {
    border: none;
}

.post-meta .btn {
    margin-right: 5px;
}