/* add customizations here */
.about, [role=main], [role=complementary]
{
    margin-top: 60px;
}

footer
{
    margin-top: 10px;
}

@media (min-width: 1600px) {
    .container {
        width: 1500px;
    }
    img {
        max-width: 700px;
    }
}

@media (min-width: 1900px) {
    .container {
        width: 1900px;
    }
    img {
        max-width: 900px;
    }
}

.list-group-item {
    border: none;
}

.post-meta .btn {
    margin-right: 5px;
}