@model downr.Models.Metadata

@section Head {
    @await Component.InvokeAsync("Metadata", new { metadata = Model })
    @await Component.InvokeAsync("OpenGraph", new { metadata = Model })
}

<a id="@Model.Slug"></a>

<h2>@Model.Title</h2>

@Html.Raw(Model.Content)